include ../../pug/mixins.pug
+banner({
  bgImage: 'img/top-banner/banner.png',
  title: '<span class="word"><span class="word-wrap">Поставщик</span></span><span class="word"><span class="word-wrap">услуг</span></span><span class="word"><span class="word-wrap">цифровой</span></span><span class="word"><span class="word-wrap">трансформации</span></span><span class="word"><span class="word-wrap">и&nbsp;кибербезопасности</span></span>',
  button: {
    text: 'На сайт',
    link: '#!',
  }
})


