include ../../pug/mixins.pug
+banner({
  bgImage: `img/banner/bg.jpg`,
  title: '<span class="word"><span class="word-wrap">Текст</span></span><span class="word"><span class="word-wrap">текст</span></span><span class="word"><span class="word-wrap">текст</span></span><span class="word"><span class="word-wrap">текст</span></span><span class="word"><span class="word-wrap">текст</span></span><span class="word"><span class="word-wrap">текст</span></span><span class="word"><span class="word-wrap">текст</span></span><span class="word"><span class="word-wrap">текст</span></span><span class="word"><span class="word-wrap">текст</span></span><span class="word"><span class="word-wrap">текст</span></span><span class="word"><span class="word-wrap">текст</span></span><span class="word"><span class="word-wrap">текст</span></span><span class="word"><span class="word-wrap">текст</span></span>',
})


