design/
build/*

src/pug/mixins.pug
src/js/entry.js
src/js/dev.js
src/scss/style.scss
src/scss/dev.scss

__MACOSX
.Saved/
_arc/
bower_components/
node_modules/
.vscode/
.publish/
.DS_Store
*.log
*.sublime-*
*.rar
*.zip
.idea
ex_files
Thumbs.db
