.directions {
  &__title {
    @include max-tablet() {
      margin-bottom: 32px;
    }
    @include max-mobile() {
      margin-bottom: 15px;
    }
    text-align: center;
    margin-bottom: 54px;
  }

  &__items {
    @include max-mobile() {
      margin-bottom: -10px;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -22px;
  }

  &__item {
    @include max-tablet() {
      width: 100%;
    }
    @include max-mobile() {
      margin-bottom: 10px;
    }
    width: calc(50% - 10px);
    flex-shrink: 0;
    margin-bottom: 22px;
  }
}
